.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}
.trigger:hover {
  color: #1890ff;
}
.logo {
  background-color: white;
  .logo-img{
    margin:6px 42px;
    height: 52px;
    width: 60%;
  }
}
.site-layout .site-layout-background {
  background: #fff;
}
header{
  flex: 0 0 236px;
}
.subme2{
  background-color: #377159 !important;
}
.ant-menu-submenu-title{
  background-color: #377159 !important;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected{
  background-color: #6ca795;
}
.notification{
  font-size: 15px;
  display: none;
}

.notification-link{
  font-size: 12px;
  color: #BE1E2D !important;
  display: none;
}
@media screen and (max-width: 768px) and (max-height: 826px) {
  .layoutall{
    display: none;
  }
  .notification{
    display: block;
  }
  .notification-link{
    display: block;
  }
}
@media screen and (max-width: 1024px) and (max-height: 450px) {
  .layoutall{
    display: none;
  }
  .notification{
    display: block;
  }
  .notification-link{
    display: block;
  }
}
@media screen and (max-width: 847px){
  .layoutall{
    display: none;
  }
  .notification{
    display: block;
  }
  .notification-link{
    display: block;
  }
}

